:root {
    --orange: rgb(255, 165, 0);
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: "Yanone Kaffeesatz", Arial, sans-serif;
    font-optical-sizing: auto;
    color: white;
    margin-top: 0;
    overflow-x: hidden;
    width: 100vw;
}

a {
    color: white;
}

main > section {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

button {
    background: var(--orange);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: color(display-p3 1 0.3 0);
}

button > a {
    text-decoration: none;
    color: black;
}

/* Contact Page */

#contactpageMain {
    display: flex;
    justify-content: center;
}

section#contactpageSection {
    font-size: 120%;
    text-align: center;
    width: 80%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    animation: slideUpFadeIn 1.2s ease-out forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#contactpageSection article {
    font-size: 130%;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    max-width: 700px;
    margin: 1rem 0;
    animation: slideUpFadeIn 0.2s ease-out forwards;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

legend {
    color: var(--orange);
}

input, textarea {
    width: 98%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:user-invalid, textarea:user-invalid {
    border-color: red;
    background-color: #ffe6e6;
    border-width: 3px;
}

input:valid, textarea:valid {
    border-color: green;
    background-color: #e6ffe6;
    border-width: 3px;
}

input.flash, textarea.flash {
    animation: flash 0.3s alternate 2;
}

@keyframes flash {
    from { background-color: #ffcccc; }
    to { background-color: white; }
}

textarea {
    resize: vertical;
    min-height: 15px;
}

output {
    font-size: 20px;
    padding-top: 3px;
}

.error {
    color: red;
    height: 14px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.error.hidden {
    opacity: 0;
}

.info {
    color: gray;
}